<div class="mx-auto pb-10">
  <h1 class="text-6xl text-brown text-center">Senior dog hub</h1>
</div>

<div class="my-10 mx-20">
  <p class="text-base text-brown">シニア犬と暮らす飼い主さんが、気軽に悩みを相談できるサービスです。<br>質問を投稿すると、他の飼い主さんからアドバイスがもらえます。<br>ユーザー登録すると、質問をお気に入り登録できるほか、ペットのプロフィールや動物病院の情報も登録できるので、いざという時も安心です。</p>
</div>

<!-- 横並びの要素同士の隙間(gap)を8に設定 -->
<div class="flex justify-center items-center gap-8">
  <p class="py-5 px-8 bg-ivory text-brown text-lg rounded-xl">匿名ではじめる</p>
</div>