<footer class="bg-light-brown">
  <div class="mx-auto px-4 pt-6 text-ivory">
    <%= link_to 'Senior dog hub', root_path %>
  </div>
  <div class="mx-auto px-4 py-6 text-ivory">
    <nav class="flex items-center gap-x-6">
      <%= link_to '利用規約' %>
      <%= link_to 'お問い合わせ' %>
      <%= link_to 'プライバシーポリシー' %>
    </nav>
  </div>
</footer>