<footer class="bg-[#F9F3AF]">
  <div class="mx-auto px-4 pt-6 text-[#BA9174] font-kaisei_decol">
    <%= link_to '老犬くらぶ', root_path %>
  </div>
  <div class="mx-auto px-4 py-6 text-[#BA9174]">
    <nav class="flex items-center gap-x-6">
      <%= link_to '利用規約' %>
      <%= link_to 'お問い合わせ' %>
      <%= link_to 'プライバシーポリシー' %>
    </nav>
  </div>
</footer>