@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Zen+Kaku+Gothic+New&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全体のデフォルトフォント設定 */
@layer base {
  body {
    @apply font-body;
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
